.header{
    font-family: sans-serif;

  }
  .wrapper{
    display: flex;
  flex-direction: column;
  position: relative;
  }

  .images{
    width: 360px;
  }
  .title{
    color: white;
  }
  .date{
    color: white;
  }
  .channel{
    color: white;
  }
  .close{
    position: absolute;
    width: 50px;
    height: 40px;
    font-size: larger;
    border-radius: 10px;
    border: none;
  }
.edit{
  position: absolute;
    width: 50px;
    height: 40px;
    font-size: larger;
    border-radius: 10px;
    border: none;
}
.buttonclass{
  display: flex;
  gap: 60px;
}


/* 


    Removed semicolon here
                   It is the worst method to render component
                    <Videos
                     title="React Projects"
                     verify={true}
                      View="999k"
                     time="1 month ago"
                  />
                   <Videos
                     title="Frontend Projects"
                    verify={false}
                 View="100k"
                  time="2 months ago"
                  />
                 <Videos
                    title="MERN Projects"
                   verify={true}
                  View="2M"
                 time="1 year ago"
                  /> 
                   {</div> } }} */